asgiref
charset-normalizer
coreapi
coreschema
Django
django-baton==2.3.0
django-ckeditor==6.3.2
django-cors-headers==3.10.1
django-filter==21.1
django-js-asset==2.0.0
django-rest-swagger==2.2.0
djangorestframework==3.13.1
djangorestframework-simplejwt==4.4.0
drf-yasg==1.20.0
MarkupSafe==2.0.1
packaging==21.3
Pillow==8.4.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
PyJWT==1.7.1
requests==2.27.1
python-decouple
Unidecode
xmltodict
django-debug-toolbar
uWSGI
